In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("./customers.csv")
df

       Unnamed: 0  customer_id country  gender   age  purchase_amount payment
0               0          1.0  France    Male  44.0            74.14      cb
1               1          2.0  France  Female  18.0            43.38    cash
2               2          3.0  France    Male  16.0            24.80      cb
3               3          4.0  France  Female  57.0           113.53  paypal
4               4          5.0  France  Female  31.0            58.49      cb
...           ...          ...     ...     ...   ...              ...     ...
49995       49995      49996.0  France  Female  52.0            24.51  paypal
49996       49996      49997.0     USA    elaM  58.0           145.38  paypal
49997       49997      49998.0     USA  Female  15.0            32.24      cb
49998       49998      49999.0     USA    Male  54.0            23.77  paypal
49999       49999      50000.0  France    Male  54.0           112.76  paypal

[50000 rows x 7 columns]

In [23]:
"""
Cellule générée par Data Wrangler.
"""
def clean_data(df):
    # Filtrer les lignes en fonction de la colonne : 'purchase_amount'
    df = df[df['purchase_amount'] > 100]
    return df

df_clean = clean_data(df.copy())
df_clean.head()

   Unnamed: 0  customer_id country  gender   age  purchase_amount payment
3           3          4.0  France  Female  57.0           113.53  paypal
6           6          7.0  France    Male  53.0           109.80      cb
7           7          8.0  France    Male  18.0           109.70  paypal
8           8          9.0     USA    Male  34.0           141.00  paypal
9           9         10.0  France  Female  19.0           100.20    cash

In [25]:
df_clean[((df_clean["age"] > 50) & (df_clean["country"] == "France"))]["purchase_amount"].mean().round()

np.float64(575.0)