# Data cleaning - US Customers

C'est un rapport de data cleaning sur le fourni par le p√¥le marketing...

In [103]:
import pandas as pd
import re

## 1. Chargement du dataset

In [104]:
df = pd.read_csv(r"./us_customers.csv", sep=";")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Not_Useful_Column
0,1001,Frodo Machin\t\t,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No,VRAI
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,FAUX
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,VRAI
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,VRAI
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,VRAI
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes,VRAI
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,FAUX
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,FAUX
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,FAUX
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,VRAI
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,VRAI
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,VRAI
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,FAUX
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,FAUX
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,FAUX
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,FAUX
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,FAUX
17,1018,Clark,Kent,7066950392,3498 Super Lane,ok,NaN,VRAI
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,VRAI
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,VRAI
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,VRAI

## Description des donn√©es

In [105]:
df.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Tel_opt_in', 'Newsletter_opt_in', 'Not_Useful_Column'],
      dtype='object')

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Tel_opt_in         21 non-null     object
 6   Newsletter_opt_in  17 non-null     object
 7   Not_Useful_Column  21 non-null     object
dtypes: int64(1), object(7)
memory usage: 1.4+ KB

In [107]:
df.describe()

        CustomerID
count    21.000000
mean   1010.952381
std       6.127611
min    1001.000000
25%    1006.000000
50%    1011.000000
75%    1016.000000
max    1020.000000

## 2. D√©doublonnage

In [108]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Not_Useful_Column
0,1001,Frodo Machin\t\t,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No,VRAI
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,FAUX
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,VRAI
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,VRAI
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,VRAI
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes,VRAI
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,FAUX
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,FAUX
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,FAUX
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,VRAI
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,VRAI
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,VRAI
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,FAUX
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,FAUX
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,FAUX
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,FAUX
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,FAUX
17,1018,Clark,Kent,7066950392,3498 Super Lane,ok,NaN,VRAI
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,VRAI
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,VRAI

## 3. Supprimer la ou les colonnes inutiles

In [109]:
df = df.drop(columns="Not_Useful_Column")
df.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Tel_opt_in', 'Newsletter_opt_in'],
      dtype='object')

In [110]:
# df = df.set_index("CustomerID")
# df

In [111]:
# df = df.reset_index(drop=True)
# df

## 4. Supprimer les espaces vides avant et apr√®s chaque item

In [112]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,1001,Frodo Machin,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,ok,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

## 5. Lignes malform√©es

In [146]:
str_cols = df.select_dtypes(include=['object', 'string']).columns
# .apply() ‚Üí Applique une fonction √† toutes les colonnes
# col.map ‚Üí Applique une fonction √† toutes les lignes
mask = df[str_cols].apply(
    lambda col: col.map(lambda x: not bool(re.match(r'^[A-Za-z0-9](.*[A-Za-z0-9])?$', str(x))))
)
mask

,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,True,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,True,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,True,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False

In [152]:
# Lignes KO
df_bad_lines = df[mask.any(axis=1)]
df_bad_lines

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No

In [ ]:
# Lignes propres
# Pour √©viter un avertissement 'SettingWithCopyWarning' par la suite, on effectue une copie explicite du dataframe (cherchez l'erreur sur google si vous voulez en savoir +)
df = df[~mask.any(axis=1)].copy()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,1001,Frodo Machin,Baggins,123-545-5421,"123 Shire Lane, Shire",Ok,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,ok,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

## 6. Transformer la colonne ```phone_number```

In [153]:
df["Phone_Number"] = df["Phone_Number"].str.replace('[^0-9]', '', regex=True)
df["Phone_Number"] = df["Phone_Number"].replace('', pd.NA)
# Pour √©viter d'avoir des NaN et <NA>
    # NaN ‚Üí Valeur manquante dans colonnes obj ou num√©riques (consid√©r√© comme un float)
    # <NA> ‚Üí Valeur "moderne" depuis Pandas 1.0 pour les str, bool√©en, int64, etc.
    # Ils sont consid√©r√©s de la m√™me mani√®re par Pandas pour .isna(), .isnull(), .fillna(), .dropna()

df["Phone_Number"]

0     1235455421
1     1236439775
2     7066950392
3     1235432345
4     8766783469
5     3047622467
6            NaN
7     8766783469
8           <NA>
9     1235455421
10           NaN
11    7066950392
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17    7066950392
18          <NA>
19    8766783469
Name: Phone_Number, dtype: object

In [154]:
# C'est quand m√™me plus moderne de typer correctement
df["Phone_Number"] = df["Phone_Number"].astype("string")
df["Phone_Number"] = df["Phone_Number"].fillna('0000000000')

# Masque pour lignes valides avec exactement 9 chiffres
mask_valid = (
    df["Phone_Number"].str.fullmatch(r"\d{10}") &
    (df["Phone_Number"] != "0000000000")
)

# ATTENTION : CELA VA GENERER UNE ERR A CAUSE DU NAN & NA
    # Il faut donc typer en string !
# Appliquer le format (xxx)-xxx-xxx uniquement sur les lignes valides
df.loc[mask_valid, "Phone_Number"] = df.loc[mask_valid, "Phone_Number"].map(
    lambda x: f"({x[:3]}) {x[3:6]}-{x[6:]}"
)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in
0,1001,Frodo Machin,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Ok,No
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,yes,Yes
6,1007,Jeff,Winger,0000000000,1209 South Street,No,No
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,0000000000,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,0000000000,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,ok,NaN
18,1019,Creed,Braton,0000000000,N/a,N/a,Yes
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N

## 7. Exploser logiquement la colonne ```address```

In [155]:
df[["Street address", "State", "Zip"]] = df["Address"].str.split(",", expand=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Street address,State,Zip
0,1001,Frodo Machin,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Ok,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,0000000000,1209 South Street,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,0000000000,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,0000000000,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,ok,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,0000000000,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None

## 8. Adopter une logique RGPD sur ```tel_opt_in```

In [156]:
# Logique stricte, tout ce qui n'est pas opt-in est opt-out
df["Tel_opt_in"] = df["Tel_opt_in"].apply(lambda x: "Y" if x.upper() in ["YES", "Y", "OK"] else "N")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Street address,State,Zip
0,1001,Frodo Machin,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,N,Yes,93 West Main Street,None,None
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Y,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,0000000000,1209 South Street,N,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,0000000000,123 Middle Earth,Y,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Y,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,0000000000,"612 Shire Lane, Shire",Y,No,612 Shire Lane,Shire,None
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Y,No,343 City Parkway,None,None
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Y,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,0000000000,N/a,N,Yes,N/a,None,None
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None

In [157]:
df.loc[df["Phone_Number"] == "0000000000", "Tel_opt_in"] = "N"

## 9. Adopter la m√™me logique sur ```newsletter_opt_in```

In [158]:
df["Newsletter_opt_in"] = df["Newsletter_opt_in"].astype("string")

# Pour √©viter les erreurs de NA avec .upper()
df["Newsletter_opt_in"] = df["Newsletter_opt_in"].fillna('N')

df["Newsletter_opt_in"] = df["Newsletter_opt_in"].apply(lambda x: "Y" if x.upper() in ["YES", "Y", "OK"] else "N")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Tel_opt_in,Newsletter_opt_in,Street address,State,Zip
0,1001,Frodo Machin,Baggins,(123) 545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,(123) 643-9775,93 West Main Street,N,Y,93 West Main Street,None,None
2,1003,Walter,/White,(706) 695-0392,298 Drugs Driveway,N,N,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,(123) 543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,(876) 678-3469,123 Dragons Road,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,(304) 762-2467,768 City Parkway,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,0000000000,1209 South Street,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,(876) 678-3469,98 Clue Drive,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,0000000000,123 Middle Earth,N,N,123 Middle Earth,None,None
9,1010,Peter,Parker,(123) 545-5421,"25th Main Street, New York",Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,0000000000,"612 Shire Lane, Shire",N,N,612 Shire Lane,Shire,None
11,1012,Harry,...Potter,(706) 695-0392,2394 Hogwarts Avenue,Y,N,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,(123) 543-2345,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,(876) 678-3469,343 City Parkway,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson_,(304) 762-2467,214 HR Avenue,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,(123) 545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,(123) 643-9775,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,(706) 695-0392,3498 Super Lane,Y,N,3498 Super Lane,None,None
18,1019,Creed,Braton,0000000000,N/a,N,Y,N/a,None,None
19,1020,Anakin,Skywalker,(876) 678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None